In [1]:
import pandas as pd
import numpy as np

In [2]:
data=np.random.randn(4,3)

In [3]:
data

array([[ 0.5669964 ,  0.69920041,  1.4056711 ],
       [ 0.04446867, -0.15803728,  1.24676786],
       [-1.55724765, -0.1680203 , -0.3043531 ],
       [-0.31967933,  0.71885485, -2.02528753]])

In [4]:
dataFrame= pd.DataFrame(data)

In [5]:
dataFrame

          0         1         2
0  0.566996  0.699200  1.405671
1  0.044469 -0.158037  1.246768
2 -1.557248 -0.168020 -0.304353
3 -0.319679  0.718855 -2.025288

In [6]:
dataFrame[0]

0    0.566996
1    0.044469
2   -1.557248
3   -0.319679
Name: 0, dtype: float64

In [7]:
YeniDataFrame=pd.DataFrame(data,index=["dilay","berin","akkan","elif"],columns=["maas","yas","calışma saati"])

In [8]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [9]:
YeniDataFrame["yas"]

dilay    0.699200
berin   -0.158037
akkan   -0.168020
elif     0.718855
Name: yas, dtype: float64

In [10]:
YeniDataFrame[["maas","yas"]]

           maas       yas
dilay  0.566996  0.699200
berin  0.044469 -0.158037
akkan -1.557248 -0.168020
elif  -0.319679  0.718855

In [11]:
YeniDataFrame.loc["dilay"]

maas             0.566996
yas              0.699200
calışma saati    1.405671
Name: dilay, dtype: float64

In [12]:
YeniDataFrame.iloc[1]

maas             0.044469
yas             -0.158037
calışma saati    1.246768
Name: berin, dtype: float64

In [13]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [14]:
YeniDataFrame["emeklilik yaşı"]=YeniDataFrame["yas"]+YeniDataFrame["yas"]

In [15]:
YeniDataFrame

           maas       yas  calışma saati  emeklilik yaşı
dilay  0.566996  0.699200       1.405671        1.398401
berin  0.044469 -0.158037       1.246768       -0.316075
akkan -1.557248 -0.168020      -0.304353       -0.336041
elif  -0.319679  0.718855      -2.025288        1.437710

In [16]:
YeniDataFrame.drop("emeklilik yaşı",axis=1)

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [17]:
YeniDataFrame

           maas       yas  calışma saati  emeklilik yaşı
dilay  0.566996  0.699200       1.405671        1.398401
berin  0.044469 -0.158037       1.246768       -0.316075
akkan -1.557248 -0.168020      -0.304353       -0.336041
elif  -0.319679  0.718855      -2.025288        1.437710

In [18]:
YeniDataFrame.drop("emeklilik yaşı",axis=1,inplace=True)

In [19]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [20]:
YeniDataFrame.loc["dilay"]["maas"]

0.5669963967220291

In [21]:
YeniDataFrame.loc["dilay","maas"]

0.5669963967220291

In [22]:
YeniDataFrame<0

        maas    yas  calışma saati
dilay  False  False          False
berin  False   True          False
akkan   True   True           True
elif    True  False           True

In [23]:
booleanFrame=YeniDataFrame<0

In [24]:
booleanFrame

        maas    yas  calışma saati
dilay  False  False          False
berin  False   True          False
akkan   True   True           True
elif    True  False           True

In [25]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [26]:
YeniDataFrame[booleanFrame]

           maas       yas  calışma saati
dilay       NaN       NaN            NaN
berin       NaN -0.158037            NaN
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679       NaN      -2.025288

In [27]:
YeniDataFrame[YeniDataFrame["yas"]>0]

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
elif  -0.319679  0.718855      -2.025288

In [28]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [29]:
YeniDataFrame.reset_index()

   index      maas       yas  calışma saati
0  dilay  0.566996  0.699200       1.405671
1  berin  0.044469 -0.158037       1.246768
2  akkan -1.557248 -0.168020      -0.304353
3   elif -0.319679  0.718855      -2.025288

In [30]:
YeniDataFrame

           maas       yas  calışma saati
dilay  0.566996  0.699200       1.405671
berin  0.044469 -0.158037       1.246768
akkan -1.557248 -0.168020      -0.304353
elif  -0.319679  0.718855      -2.025288

In [31]:
yeniIndexListesi=["dil","ber","akk","eli"]

In [32]:
YeniDataFrame["yeni index"]=yeniIndexListesi

In [33]:
YeniDataFrame

           maas       yas  calışma saati yeni index
dilay  0.566996  0.699200       1.405671        dil
berin  0.044469 -0.158037       1.246768        ber
akkan -1.557248 -0.168020      -0.304353        akk
elif  -0.319679  0.718855      -2.025288        eli

In [34]:
YeniDataFrame.set_index("yeni index")

                maas       yas  calışma saati
yeni index
dil         0.566996  0.699200       1.405671
ber         0.044469 -0.158037       1.246768
akk        -1.557248 -0.168020      -0.304353
eli        -0.319679  0.718855      -2.025288

In [35]:
YeniDataFrame

           maas       yas  calışma saati yeni index
dilay  0.566996  0.699200       1.405671        dil
berin  0.044469 -0.158037       1.246768        ber
akkan -1.557248 -0.168020      -0.304353        akk
elif  -0.319679  0.718855      -2.025288        eli

In [36]:
YeniDataFrame.set_index("yeni index",inplace=True)

In [37]:
YeniDataFrame

                maas       yas  calışma saati
yeni index
dil         0.566996  0.699200       1.405671
ber         0.044469 -0.158037       1.246768
akk        -1.557248 -0.168020      -0.304353
eli        -0.319679  0.718855      -2.025288

In [38]:
YeniDataFrame.loc["dil"]

maas             0.566996
yas              0.699200
calışma saati    1.405671
Name: dil, dtype: float64

### Multi index

In [39]:
ilkIndexler=["simpson","simpson","simpson","south park","south park","south park"]

In [40]:
icIndexler=["homer","bart","marge","cartman","kenny","kyle"]

In [41]:
birlesmisIndex=list(zip(ilkIndexler,icIndexler))

In [42]:
birlesmisIndex

[('simpson', 'homer'),
 ('simpson', 'bart'),
 ('simpson', 'marge'),
 ('south park', 'cartman'),
 ('south park', 'kenny'),
 ('south park', 'kyle')]

In [43]:
birlesmisIndex=pd.MultiIndex.from_tuples(birlesmisIndex)

In [44]:
birlesmisIndex

MultiIndex([(   'simpson',   'homer'),
            (   'simpson',    'bart'),
            (   'simpson',   'marge'),
            ('south park', 'cartman'),
            ('south park',   'kenny'),
            ('south park',    'kyle')],
           )

In [45]:
benimCizgiFilmListem=[[40,"a"],[10,"b"],[30,"c"],[9,"d"],[10,"e"],[11,"f"]]

In [46]:
cizgiFilmNumpyDizisi=np.array(benimCizgiFilmListem)

In [47]:
cizgiFilmDataFrame=pd.DataFrame(cizgiFilmNumpyDizisi,index=birlesmisIndex,columns=["yas","meslek"])

In [48]:
cizgiFilmDataFrame

                   yas meslek
simpson    homer    40      a
           bart     10      b
           marge    30      c
south park cartman   9      d
           kenny    10      e
           kyle     11      f

In [49]:
cizgiFilmDataFrame.loc["simpson"]

      yas meslek
homer  40      a
bart   10      b
marge  30      c

In [50]:
cizgiFilmDataFrame.loc["south park"].loc["kenny"]

yas       10
meslek     e
Name: kenny, dtype: object

In [51]:
cizgiFilmDataFrame.index.names=["film adı","isim"]

In [52]:
cizgiFilmDataFrame

                   yas meslek
film adı   isim
simpson    homer    40      a
           bart     10      b
           marge    30      c
south park cartman   9      d
           kenny    10      e
           kyle     11      f