verilerin excel formatında geldiği durumlar;

In [1]:
import pandas as pd

In [5]:
dataFrame=pd.read_excel("Maas.xlsx")

In [6]:
dataFrame

  Unnamed: 0  maas   yas  departman
0       atıl   100  40.0    yazılım
1     zeynep   150  50.0      satış
2     mehmet   200  30.0        NaN
3      ahmet    50  10.0  pazarlama
4      atlas   150   NaN     finans
5      fatma   200  25.0      hukuk

In [8]:
doludegerler=dataFrame.dropna()

In [9]:
doludegerler

  Unnamed: 0  maas   yas  departman
0       atıl   100  40.0    yazılım
1     zeynep   150  50.0      satış
3      ahmet    50  10.0  pazarlama
5      fatma   200  25.0      hukuk

In [10]:
doludegerler.to_excel("yeniMaas.xlsx")

 excel csv formatında gelmişse(virgül ile ayrılmış halde);
 excel yerine csv gelir. ----->
 
 
 read_csv
 
 
 to_csv